# 8.2.1 Self Check

### 3. *(_IPython Session_)*
Use the type specifier **`c`** to display the characters that correspond to the character codes 58, 45 and 41.

In [6]:
 print(f'{58:c}{45:c}{41:c}')

:-)

# 8.2.2 Self Check

### 2. *(_IPython Session_)*
Display on separate lines the name **`'Amanda'`** right-, center- and left-aligned in a field of 10 characters.  
Enclose each result in brackets so you can see the alignment results more clearly.

In [7]:
f'[{'amanda':10}]'

'[amanda    ]'

In [9]:
f'[{'amanda':>10}]'

'[    amanda]'

In [10]:
f'[{'amanda':^10}]'

'[  amanda  ]'

# 8.2.3 Self Check

### 2. *(_IPython Session_)*
Print the values **10240.473** and **–3210.9521**,  
each preceded by its sign in 10-character fields with thousands separators,  
their decimal points aligned vertically and two digits of precision.

In [18]:
f'{10240.473:+10,.2f}, {-3210.9521:+10,.2f}'

'+10,240.47,  -3,210.95'

# 8.2.4 Self Check

## 1. *(IPython Session)*
Use string method `format` to reimplement the IPython sessions in the last three Self Check exercises:

### a) 
Use the type specifier `c` to display the characters that correspond to the character codes 58, 45 and 41.

### b) 
Display on separate lines the name `'Amanda'` right-, center- and left-aligned in a field of 10 characters.  
Enclose each result in brackets so you can see the alignment results more clearly.

### c) 
Print the values `10240.473` and `–3210.9521`, each preceded by its sign in 10-character fields  
with thousands separators, their decimal points aligned vertically and two digits of precision.

In [2]:
#a
'{:c}{:c}{:c}'.format(58,45,41)

':-)'

In [9]:
#b
'[{0:>10}][{0:^10}][{0:<10}]'.format('Amanda')

'[    Amanda][  Amanda  ][Amanda    ]'

In [12]:
#c
'[{:+10,.2f}][{:+10,.2f}]'.format(10240.473, -3210.9521)

'[+10,240.47][ -3,210.95]'

# 8.3 Self Check

## 1. (IPython Session)
Use the `+=` operator to concatenate your first and last name.  
Then use the `*=` operator to create a bar of asterisks with the same number of characters as your full name  
and display the bar above and below your name.

In [1]:
name = 'oskar'
name += ' ' + 'mazurek'
print(name)
bar = '*'
bar *= len(name)
print(bar)

oskar mazurek
*************

# 8.4 Self Check

## 1. (IPython Session)
Use the methods in this section to strip the whitespace from the following string,  
which has five spaces at the beginning and end of the string:

name = '     Margo Magenta     '

In [3]:
name = '     Margo Magenta      '

In [4]:
name.strip()

'Margo Magenta'

# 8.7 Self Check

## 3. (IPython Session)
Create a loop that locates and displays every word that starts with `'t'` in the string  
`'to be or not to be that is the question'`.

In [1]:
s = 'to be or not to be that is the question'

In [11]:
for i in s.split():
    if i.startswith('t'):
        print(i)

to
to
that
the

# 8.8 Self Check

## 1. (IPython Session)
Replace the spaces in the string `'1 2 3 4 5'` with `' --> '`.

In [12]:
s = '1 2 3 4 5'

In [14]:
s.replace(' ', ' --> ')

'1 --> 2 --> 3 --> 4 --> 5'

# 8.9 Self Check

## 2. (IPython Session)
Use `split` and `join` in one statement to reformat the string  
    'Pamela White'  
into the string  
    'White, Pamela'

## 3. (IPython Session)
Use `partition` and `rpartition` to extract from the URL string  
    'http://www.deitel.com/books/PyCDS/table_of_contents.html'  
the substrings `'www.deitel.com'` and `'books/PyCDS'`.

In [75]:
', '.join(reversed('Pamela White'.split()))

'White, Pamela'

In [80]:
s = 'http://www.deitel.com/books/PyCDS/table_of_contents.html'

In [87]:
s.partition('/')

('http:', '/', '/www.deitel.com/books/PyCDS/table_of_contents.html')