# 5_2 Self Check

### 3. (IPython Session) 
#### Create a function `cube_list` that cubes each element of a list. Call the function with the list `numbers` containing 1 through 10. Show `numbers` after the call.

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def cube_list(num_arr):
    for i in range(len(num_arr)):
        num_arr[i] **= 3

In [3]:
cube_list(numbers)
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 4. (IPython Session)
#### Use an empty list named `characters` and a `+=` augmented assignment statement to convert the string `'Birthday'` into a list of its characters.

In [4]:
characters = []
characters += 'Birthday'

In [5]:
print(characters)

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

# 5.3 Self Check

### 3. (IPython Session)
#### Create a single-element tuple containing 123.45, then display it.

In [6]:
single_element = 123.45,

In [7]:
single_element

(123.45,)

### 4. (IPython Session)
#### Show what happens when you attempt to concatenate sequences of different types—the list [1, 2, 3] and the tuple (4, 5, 6)—using the + operator.

In [2]:
num_list = [1, 2, 3]
num_tuple = (4, 5, 6)
num_list += num_tuple

In [3]:
print(num_list)
print(num_tuple)

[1, 2, 3, 4, 5, 6]
(4, 5, 6)

In [10]:
num_list += num_tuple
num_list

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [11]:
# num_list + num_tuple - error!

# 5.4 Self Check

### 3. (IPython Session)
#### Create a tuple `high_low` representing a day of the week (a string) and its high and low temperatures (integers), display its string representation, then perform the following tasks in an interactive IPython session:
#### a. Use the `[]` operator to access and display the `high_low` tuple’s elements.
#### b. Unpack the `high_low` tuple into the variables `day` and `high`. What happens and why?

In [12]:
high_low = 'Monday', 4, 12
#a
print(high_low[0])
print(high_low[1])
print(high_low[2])
#b
#day, high = high_low
#bedzie error bo po musi byc tyle zmiennych po lewej stronie ile jest elementow w tuple

Monday
4
12

### 4. (IPython Session)
#### Create the list `names` containing three name strings. Use a for loop and the `enumerate` function to iterate through the elements and display each element’s index and value.

In [13]:
names = ['emil', 'dylan', 'janek']
for i, v in enumerate(names):
    print(f'{i}.{v:>8}')

0.    emil
1.   dylan
2.   janek

# 5.5 Self Check

### 3. (IPython Session)
#### Create a list called `numbers` containing the values from 1 through 15, then use slices to perform the following operations consecutively:
#### a. Select `numbers`' even integers.
#### b. Replace the elements at indices 5 through 9 with 0s, then show the resulting list.
#### c. Keep only the first five elements, then show the resulting list.
#### d. Delete all the remaining elements by assigning to a slice. Show the resulting list.

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [15]:
numbers[1::2]

[2, 4, 6, 8, 10, 12, 14]

In [16]:
numbers[4:9] = [0,0,0,0,0]
print(numbers)

[1, 2, 3, 4, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15]

In [17]:
numbers = numbers[:5]
numbers

[1, 2, 3, 4, 0]

In [18]:
numbers[:] = []
print(numbers)

[]

# 5.6 Self Check

### 2. (IPython Session)
#### Create a list called `numbers` containing the values from 1 through 15, then use the `del` statement to perform the following operations consecutively:
#### a. Delete a slice containing the first four elements, then show the resulting list.
#### b. Starting with the first element, use a slice to delete every other element of the list, then show the resulting list.

In [19]:
numbers = list(range(1,16))

In [20]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [21]:
del numbers[:4]
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [22]:
del numbers[::2]
numbers

[6, 8, 10, 12, 14]

# 5.8 Self Check

### 3. (IPython Session)
#### Create a `foods` list containing 'Cookies', 'pizza', 'Grapes', 'apples', 'steak' and 'Bacon'. Use list method `sort` to sort the list in ascending order. Are the strings in alphabetical order?

In [23]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

In [24]:
foods.sort()
foods

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

# 5.10 Self Check

### 3. (IPython Session)
#### Create a list called `rainbow` containing `'green'`, `'orange'` and `'violet'`. Perform the following operations consecutively using list methods and show the list’s contents after each operation:
#### a. Determine the index of `'violet'` then use it to insert `'red'` before `'violet'`.
#### b. Append `'yellow'` to the end of the list.
#### c. Reverse the list’s elements.
#### d. Remove the element `'orange'`.

In [25]:
rainbow = ['green', 'orange', 'violet']

In [26]:
rainbow

['green', 'orange', 'violet']

In [27]:
rainbow.insert(rainbow.index('violet'),'red')

In [28]:
rainbow

['green', 'orange', 'red', 'violet']

In [29]:
rainbow.append('yellow')

In [30]:
rainbow

['green', 'orange', 'red', 'violet', 'yellow']

In [31]:
rainbow.reverse()

In [32]:
rainbow

['yellow', 'violet', 'red', 'orange', 'green']

In [33]:
rainbow.remove('orange')

In [34]:
rainbow

['yellow', 'violet', 'red', 'green']

# 5.12 Self Check

### 3. (IPython Session)
#### Use a list comprehension to create a list of tuples containing the numbers 1–5 and their cubes — that is, [(1, 1), (2, 8), (3, 27), …]. To create tuples, place parentheses around the expression to the left of the list comprehension’s `for` clause.

In [35]:
numbers = [(i,i**3) for i in range(1,6)]

In [36]:
numbers

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### 4. (IPython Session)
#### Use a list comprehension and the `range` function with a step to create a list of the multiples of 3 that are less than 30.

In [37]:
numbers2 = [i for i in range(3,30,3)]

In [38]:
numbers2

[3, 6, 9, 12, 15, 18, 21, 24, 27]

# 5.13 Self Check

### 2. (IPython Session)
#### Create a generator expression that cubes the even integers in a list containing 10, 3, 7, 1, 9, 4 and 2. Use function `list` to create a list of the results. Note that the function call’s parentheses also act as the generator expression’s parentheses.

In [39]:
numbers3 = [10, 3, 7, 1, 9, 4, 2]

In [40]:
result = list(i**3 for i in numbers3 if i%2 == 0)

In [41]:
result

[1000, 64, 8]

# 5.14 Self Check

### 3. (IPython Session)
#### Create a list called `numbers` containing 1 through 15, then perform the following tasks:
#### a. Use the built-in function `filter` with a `lambda` to select only `numbers`' even elements. Create a new list containing the result.
#### b. Use the built-in function `map` with a `lambda` to square the values of `numbers`' elements. Create a new list containing the result.
#### c. Filter `numbers`' even elements then map them to their squares. Create a new list containing the result.

In [42]:
numbers = [i for i in range(1,16)]

In [43]:
list(filter(lambda x: x % 2 == 0, numbers))

[2, 4, 6, 8, 10, 12, 14]

In [44]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [45]:
list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))

[4, 16, 36, 64, 100, 144, 196]

### 4. (IPython Session)
#### Map a list of the three Fahrenheit temperatures 41, 32 and 212 to a list of tuples containing the Fahrenheit temperatures and their Celsius equivalents. Convert Fahrenheit temperatures to Celsius with the following formula:
#### Celsius = (Fahrenheit − 32) * (5 / 9)

In [46]:
fahrenheit = [41, 32, 212]

In [47]:
list(map(lambda f:(f, (f -32) * (5 / 9)), fahrenheit))

[(41, 5.0), (32, 0.0), (212, 100.0)]

# 5.15 Self Check

### 3. (IPython Session)
#### Create the list `foods` containing `'Cookies'`, `'pizza'`, `'Grapes'`, `'apples'`, `'steak'` and `'Bacon'`. Find the smallest string with `min`, then reimplement the `min` call using the `key` function to ignore the strings’ case. Do you get the same results? Why or why not?

In [48]:
foods = ['Cookies', 'pizza', 'Grapes', 'apples', 'steak', 'Bacon']

In [49]:
min(foods)

'Bacon'

In [50]:
min(foods, key = lambda x: x.lower())

'apples'

### 4. (IPython Session)
#### Use `zip` with two integer lists to create a new list containing the sum of the elements from corresponding indices in both lists (that is, add the elements at index 0, add the elements at index 1, ...).

In [51]:
numbers1 = list(range(1,4))
numbers2 = list(range(4,7))

In [52]:
num_sum = list(map(lambda x: sum(x), zip(numbers1, numbers2)))
num_sum

[5, 7, 9]

# 5.16 Self Check

### 4. (IPython Session)
#### Given the two-by-three integer list `t`:
#### t = [[10, 7, 3], [20, 4, 17]]
#### a. Determine and display the average of `t`’s elements using nested `for` statements to iterate through the elements.
#### b. Write a `for` statement that determines and displays the average of `t`’s elements using the reductions `sum` and `len` to calculate the sum of each row’s elements and the number of elements in each row.

In [53]:
t = [[10, 7, 3], [20, 4, 17]]

In [75]:
total = 0
count = 0
for row in t:
    for i in row:
        count += 1
        total += i

In [77]:
average = total / count
average

10.166666666666666

In [82]:
total = 0
count = 0 
for row in t:
    total += sum(row)
    count += len(row)

In [84]:
average = total / count
average

10.166666666666666